<!DOCTYPE html>
<html>
<head>
	<title>Change Password Page</title>
	<link rel="stylesheet" href="test.css">
	
</head>
<body>
    <div class="field-set">
     <label for="pwd" class="label1">Password</label>
     <br>                 
     <input class="form-input" type="password"  id="pwd"  name="password" required>       
     <br>
     <label for="new_pwd" class="label1">New Password</label>
     <br>
     <input class="form-input" type="password"  id="new_pwd"  name="new_password" required>       
     <br>
     <button class="log-in"> Change Password </button>
  </div>
</body>
</html>